.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* App.css */
body {
  background-color: white;
}

.todo-app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.header {
  color: #007bff; /* Blue color for headers */
  margin-bottom: 20px;
}

.todo-list {
  margin-top: 20px;
}

.todo-item {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

.todo-item .list-group-item {
  background-color: #f8f9fa; /* Grey color for items */
  color: #343a40;
  font-weight: bold;
  border: none;
}

.subtask {
  color: #6c757d; /* Grey color for subtasks */
}

.completed {
  text-decoration: line-through;
}